<div id="<%= dom_id message %>">
  <p>
    <strong>Channel:</strong>
    <%= message.channel_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= message.description %>
  </p>

</div>
